<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="salgados.imagePath" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{salgados.nome}}</h5>
                <p class="card-text">{{salgados.desc}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <a [routerLink]="['/detalhes', salgados.id]"><button class="btn btn-vw btn-lg btn-block">Ver Receita</button></a>
                    </div>
                    <div class="col-md-6">
                        <span class="las la-heart fig"></span>
                        <span>{{salgados.fav}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
