<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="drinks.imagePath" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{drinks.nome}}</h5>
                <p class="card-text">{{drinks.desc}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <button (click)="abrir(drinks)" class="btn btn-vw btn-lg btn-block">Ver Receita</button>
                    </div>
                    <div class="col-md-6">
                        <span class="las la-heart fig"></span>
                        <span>{{drinks.fav}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>