<div class="card-nos">
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/bii.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingrid e Bianca</h5>
                    <div class="col-md-6">
                        <span class="las la-university fig"></span>
                        <span>ETEC Cidade do Livro</span>
                    </div>
                    <div class="col-md-6">
                        <span class="las la-pen fig"></span>
                        <span>2º ETIM DS</span>
                    </div>
                    <div class="col-md-6">
                        <span class="las la-desktop fig"></span>
                        <span>Programação Web II</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="las la-heart fig"></span>
                            <span>200</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card info">
                <div class="card-body">
                    <h5 class="card-title">SOBRE</h5>
                    <p class="card-text">Essa página foi criada por alunas da ETEC exclusivamente para fins avaliativos
                        da matéria de Programação Web II lecionada pelo professor Rogério Luna Furlan.</p>
                    <p class="card-text">Onde a aluna Ingrid ficou responsável por uma parte considerável de toda a
                        programação enquanto a aluna Bianca se responsabilizou por uma menor parte programável mas
                        também pela parte criativa e momentos de pesquisa.</p>
                    <p class="card-text">É importante mencionar que ambas as alunas estavam presentes durante todo o
                        processo de deselvolvimento</p>
                    <p class="card-text">Caso resolva reproduzir qualquer uma das receitas aqui aplicadas esta sobre sua
                        completa e total responsabilidade. O professor e as alunas não foram responsáveis pela criação
                        das receitas retiradas de sites aleatórios da internet.</p>
                    <p class="card-text">Mas casso isso realmente venha a acontecer esperamos ansiosamente que seja
                        generoso para dividir conosco seu resultado!</p>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-12 ee">
                            <span class="las la-heart fig"></span>
                            <span>Com amor Bia e Ingrid</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
