.card-img-top {
  height: 200px;
}
img{
  height: 500px;
  border-radius: 10px;
}
.card{
  border-radius: 10px;
}
.card-title{
  text-align: center;
  font-weight: bold;
}
.card-text{
  font-size: 18px;
}
.btn-vw{
  background-color: #ff0095;
  color: #ffffff;
  font-size: 18px;
}
span{
  margin-right: 8px;
  font-size: 20px;
  margin-top: 15px;
}
.fig{
  color: #ff004c;
}
.info{
    height: 775px;
}
.ee{
    text-align: right;
    justify-content: right;
}