<div class="row mt-2">
    <div class="col-md-5">
        <div class="card card-image">
            <img [src]="drinks.imagePath">
        </div>
        <div class="card mt-2">
            <div class="row">
                <div class="col-md-4 ttfig">
                    <span class="las la-cookie-bite"></span>
                    <p>{{ drinks.nome }}</p>
                </div>
                <div class="col-md-4 ttfig">
                    <span class="las la-stopwatch"></span>
                    <p>{{drinks.tempoPreparo}} min</p>
                </div>
                <div class="col-md-4 ttfig">
                    <span class="las la-utensils"></span>
                    <p>{{drinks.porcoes}} Porções</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7" >
        <div class="card ingredientes" >
            <h2>Ingredientes: </h2>
            <ul>
                <li *ngFor="let ing of drinks.ingredientes"><span>{{ing}}</span></li>
            </ul>
            <h4 class="ad" *ngIf="drinks.adjacentes">{{drinks.nomeAdj}}:</h4>
            <ul>
                <li *ngFor="let adj of drinks.adjacentes"><span>{{adj}}</span></li>
            </ul>
            <h2>Modo de Preparo: </h2>
            <div class="adj" *ngIf="drinks.adjacentes">
                <h4>{{drinks.nomeAdj}}:</h4>
                <ol>
                    <li *ngFor="let modePreAdj of drinks.modePreAdj"><span>{{modePreAdj}}</span></li>
                </ol>
            </div>
            <ol>
                <li *ngFor="let modePre of drinks.modoPreparo"><span>{{modePre}}</span></li>
            </ol>
            <p *ngIf="drinks.obs" class="obs">PS: {{drinks.obs}}</p>
        </div>
    </div>
</div>