<div class="row mt-2">
    <div class="col-md-5">
        <div class="card card-image">
            <img [src]="doces.imagePath">
        </div>
        <div class="card mt-2">
            <div class="row">
                <div class="col-md-4 ttfig">
                    <span class="las la-cookie-bite"></span>
                    <p>{{ doces.nome }}</p>
                </div>
                <div class="col-md-4 ttfig">
                    <span class="las la-stopwatch"></span>
                    <p>{{doces.tempoPreparo}} min</p>
                </div>
                <div class="col-md-4 ttfig">
                    <span class="las la-utensils"></span>
                    <p>{{doces.porcoes}} Porções</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card ingredientes">
            <h2>Ingredientes: </h2>
            <ul>
                <li *ngFor="let ing of doces.ingredientes"><span>{{ing}}</span></li>
            </ul>
            <h4 class="ad" *ngIf="doces.adjacentes">{{doces.nomeAdj}}:</h4>
            <ul>
                <li *ngFor="let adj of doces.adjacentes"><span>{{adj}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="card mode mt-2">
    <h2>Modo de Preparo: </h2>
    <div class="adj" *ngIf="doces.adjacentes">
        <h4>{{doces.nomeAdj}}:</h4>
        <ol>
            <li *ngFor="let modePreAdj of doces.modePreAdj"><span>{{modePreAdj}}</span></li>
        </ol>
    </div>
    <hr>
    <ol>
        <li *ngFor="let modePre of doces.modoPreparo"><span>{{modePre}}</span></li>
    </ol>
    <p *ngIf="doces.obs" class="obs">PS: {{doces.obs}}</p>
</div>