<div class="row mt-2">
    <div class="col-md-5">
        <div class="card">
            <img src="/assets/MicrosoftTeams-image (23).png" alt="">
        </div>
        <div class="card mt-2">
            <div class="row">
                <div class="col-md-4 ttfig">
                    <span class="las la-cookie-bite"></span>
                    <p>Salada Caeser</p>
                </div>
                <div class="col-md-4 ttfig">
                    <span class="las la-stopwatch"></span>
                    <p>30 min</p>
                </div>
                <div class="col-md-4 ttfig">
                    <span class="las la-utensils"></span>
                    <p>3 Porções</p>
                </div>
            </div>
        </div>
    </div>
</div>