<div class="row mt-3">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/MicrosoftTeams-image (15).png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Milkshake de Framboesa</h5>
                        <p class="card-text">Uma sobremesa crocante de recheio macio para te fazer sentir como uma
                            verdadeira francesa em uma manhã de Paris!</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-vw btn-lg btn-block">Ver Receita</a>
                            </div>
                            <div class="col-md-6">
                                <span class="las la-heart fig"></span>
                                <span>7.009</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/MicrosoftTeams-image (16).png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Limonada Rosa</h5>
                        <p class="card-text">Para refrescar e dar energia a sua manhã de forma plena e saudável</p>
                    </div>
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-vw btn-lg btn-block">Ver Receita</a>
                            </div>
                            <div class="col-md-6">
                                <span class="las la-heart fig"></span>
                                <span>3.478</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/MicrosoftTeams-image (17).png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Refresher Tropical</h5>
                        <p class="card-text">Uma sobremesa maravilhosa, pra que esperar um aniversário se pode fazer agora? aproveite!</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-vw btn-lg btn-block">Ver Receita</a>
                            </div>
                            <div class="col-md-6">
                                <span class="las la-heart fig"></span>
                                <span>6.291</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>