<div id="carouselExampleCaptions" class="mt-2 carousel slide" data-ride="carousel">
    <div class="carousel-inner expand-md">
        <div class="carousel-item active">
            <img src="../../assets/MicrosoftTeams-image (12).png" class="d-block w-100" alt="Imagem Demonstrativa">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="esti"><b>Rocambole Salgado</b></h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/MicrosoftTeams-image (11).png" class="d-block w-100" alt="Imagem Demonstrativa">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="esti"><b>Panquecas</b></h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/MicrosoftTeams-image (10).png" class="d-block w-100" alt="Imagem Demonstrativa">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="esti"><b>Pink Drink de Morango</b></h3>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="card-receitas">
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/MicrosoftTeams-image (13).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cupcake</h5>
                    <p class="card-text">Adoce a boca com uma deliciosa e belíssima receita inglesa. Adocica meu amor!</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-vw btn-lg btn-block">Ver Receita</a>
                        </div>
                        <div class="col-md-6">
                            <span class="las la-heart fig"></span>
                            <span>7.009</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/MicrosoftTeams-image (14).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lasanha</h5>
                    <p class="card-text">Uma massa italiana com um toque da cultura brasileira para alegrar seus domingos! </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-vw btn-lg btn-block">Ver Receita</a>
                        </div>
                        <div class="col-md-6">
                            <span class="las la-heart fig"></span>
                            <span>8.915</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>